/.idea/.idea.AspireApp1/.idea/workspace.xml
/.idea/.idea.MarketApp/.idea/.gitignore
/.idea/.idea.MarketApp/.idea/.name
/.idea/.idea.MarketApp/.idea/dataSources.xml
/.idea/.idea.MarketApp/.idea/encodings.xml
/.idea/.idea.MarketApp/.idea/indexLayout.xml
/.idea/.idea.MarketApp/.idea/vcs.xml
